


.App {
  text-align: center;
  scale:2;
}

.appDiv {
  /* background-color: #282c34; */
  text-align: center;
  color: white;
  height: 100vh;
  width: 100vw;
}

.inputDiv {
  /* scale: 2; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40vh;
  /* width: 100vw; */
}

.inputDiv div{
  margin: 10px;
}


div.form{
  display: flex;
  flex-direction: column;
  margin:auto;
  margin-top: 30px;
  justify-content: center;
  background-color: hsl(220, 0%, 4%);
  border-radius: 10px;
  width: 80vw;
}


#send{
  width: 100px;
  height: 40px;
  margin:auto;
  margin-bottom: 150px;

  
  cursor: pointer;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
